[ req ]
default_bits       = 4096
prompt             = no
default_md         = sha256
distinguished_name = dn
req_extensions     = req_ext

[ dn ]
C  = RU
ST = YourState
L  = YourCity
O  = YourOrganization
CN = keycloak.test.local  # Основное доменное имя

[ req_ext ]
subjectAltName = @alt_names

[ alt_names ]
DNS.1 = keycloak.test.local
DNS.2 = *.test.local
