cluster_addr  = "https://{{ cluster_addr }}:8201"
api_addr      = "https://{{ cluster_addr }}:8200"

disable_mlock = true
ui = true
 
listener "tcp" {
  address            = "0.0.0.0:8200"
  tls_ca_cert_file   = "{{ vault_ssl_path }}/{{ vault_certificate_file_name }}.pem"
  tls_cert_file      = "{{ vault_ssl_path }}/{{ vault_certificate_file_name }}.pem"
  tls_key_file       = "{{ vault_ssl_path }}/{{ vault_certificate_file_name }}.pem"
}
 
storage "raft" {
  path    = "/opt/vault/data"
  node_id = "{{ inventory_hostname.split('.')[0] }}"
 
  {% for host in groups['vault'] %}
  retry_join {
    leader_tls_servername   = "{{ hostvars[host]['ansible_hostname'] }}"
    leader_api_addr         = "https://{{ hostvars[host]['ansible_hostname'] }}:8200"
    leader_ca_cert_file     = "{{ vault_ssl_path }}/{{ vault_certificate_file_name }}.pem"
    leader_client_cert_file = "{{ vault_ssl_path }}/{{ vault_certificate_file_name }}.pem"
    leader_client_key_file  = "{{ vault_ssl_path }}/{{ vault_certificate_file_name }}.pem"
    }
  {% endfor %}
}
