{{ ansible_managed | comment }}

# Minio local/remote volumes.
{% if minio_server_cluster_nodes | length > 0 and minio_server_cluster_nodes | length > 1 %}
MINIO_VOLUMES="{% for node in minio_server_cluster_nodes %}{% for dir in minio_server_datadirs %}http://{{ node }}{{ dir }}{% if not loop.last %} {% endif %}{% endfor %}{% if not loop.last %} {% endif %}{% endfor %}"

{% else %}
MINIO_VOLUMES="{{ minio_server_datadirs | join(' ') }}"
{% endif %}
# Minio cli options.
MINIO_OPTS="--address {{ minio_server_addr }} --console-address {{ minio_console_addr }} {{ minio_server_opts }}"

{% if minio_root_user %}
# Access Key of the server.
MINIO_ROOT_USER="{{ minio_root_user }}"
{% endif %}
{% if minio_root_password %}
# Secret key of the server.
MINIO_ROOT_PASSWORD="{{ minio_root_password }}"
{% endif %}

{{ minio_server_env_extra }}
