[ req ]
default_bits       = 4096
prompt             = no
default_md         = sha256
distinguished_name = dn
req_extensions     = req_ext

[ dn ]
C  = RU
ST = YourState
L  = YourCity
O  = YourOrganization
CN = vmsingle.test.local

[ req_ext ]
subjectAltName = @alt_names

[ alt_names ]
DNS.1 = vmsingle.test.local
DNS.2 = alertmanager.test.local
DNS.3 = grafana.test.local
DNS.4 = vmalert.test.local

