[Unit]
Description=Patroni PostgreSQL High-Availability
After=syslog.target network.target

[Service]
Type=simple
User=postgres  
Group=postgres 
ExecStart=/usr/local/bin/patroni /etc/patroni.yml
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=process
TimeoutSec=30
Restart=on-failure

[Install]
WantedBy=multi-user.target
